.counter{
    .number{
      font-size: 30px;
      padding: 20px;
    }
    button{
      background-color: rgb(186, 221, 27);
      cursor: pointer;
      padding: 10px;
      border-radius: 8px;
      color: #000;
    }
  }