nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(48, 131, 255);
  color: #fff;
}
.nav-link {
  width: 50%;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style-type: none;
}
.nav-link li {
  text-align: center;
}
a {
  color: #fff;
  text-decoration: none;
}
.not-found {
  text-align: center;
}
